form {

    background-color: aquamarine;
    height: 150px;
    width: 500px;
    display: flex;
    flex-direction: column;
}
form input {
    height: 25px;
    
}

button {
    width: 150px;
    height: 30px;
    background-color: pink;
    margin-top: 20px;
}

h1{
    font-size: 15px;
    text-align: center;
}